.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap";

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Comfortaa", sans-serif;

  background-color: #1f1f2f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23bf53ef' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23d94fd3' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23bb48e1' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23c842c4' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23b73bd3' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b835b4' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b32ec5' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23a827a5' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23af1db7' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23981797' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.buttonPurple {
  background-image: linear-gradient(#d94fd3, #bf53ef);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loginButton{
  background-image: linear-gradient(#27293d, #1f1f2f);
  background-color: transparent;
  border: 1px transparent;
}

/* -------------------------------------------------------------------------- */
/*                              router animation                              */
/* -------------------------------------------------------------------------- */
.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

/* -------------------------------------------------------------------------- */
/*                                TOPBAR STYLE                                */
/* -------------------------------------------------------------------------- */

.topBar {
  background-color: #1f1f2f;
  border-bottom: thin solid white;
  
}

.toggleSidebar {
  color: white;
  background-color: #1f1f2f;
  border: 0;
}

.NavLink {
  color: white;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  margin-left: -250px;
  color: #fff;
  transition: all 0.5s;
  background-image: linear-gradient(#d94fd3, #bf53ef);
  width: 25%;
  height: 100vh;
}

.sidebar.is-open {
  min-height: 100vh;
  top: 0%;
  border-top: 10px transparent;
  border-radius: 0px;
  margin-left: 20px;
  transition: 0.5s;
}

.sidebar-header {
  background: #d94fd3;
  border-top: transparent;
  border-radius: 0px;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #6d7fcc;
}

.nav-item:hover {
  color: #d94fd3;
  background: #fff;
}

.items-menu {
  color: #fff;
  background: #d94fd3;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #d94fd3;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #d94fd3;
}

.sidebarlinks{
  margin: 20px 20px;
  padding-bottom: 20px;
}

.sidebarNavItem{
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebarDashboard{
  font-weight: 300;
  margin: 20px 20px;
  border-bottom: 1px solid white;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
}

@media only screen and (max-width: 500px) {
  body {
    min-height: 100%;
  }

  .content.is-open {
    margin-left: 100%;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Banner                                   */
/* -------------------------------------------------------------------------- */
.Jumbotron {
  background-color: transparent;
  font-family: "Comfortaa", sans-serif;
}
.JumbotronProfile {
  background-color: transparent;
  font-family: "Comfortaa", sans-serif;
  text-align: center;
}

.jumboLink {
  font-size: 30px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

.jumboLink:hover {
  background-color: white;
  color: #d94fd3;
}

@media only screen and (min-width: 501px) {
  .jumboImage {
    background-image: url("./images/budget.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .jumboTitle {
    font-size: 60px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                  Register                                  */
/* -------------------------------------------------------------------------- */

.registerCol {
  background-image: transparent;
  font-family: "Comfortaa", sans-serif;
}

.regButton {
  background-color: #1f1f2f;
  border: 1px solid black;
}

/* -------------------------------------------------------------------------- */
/*                                  Cardlist                                  */
/* -------------------------------------------------------------------------- */

.fontSmall {
  font-size: 12px;
}

.cardList {
  background-color: transparent;
  color: white;
  border: 1px transparent;
  border-top: thin solid white;;
  border-bottom:thin solid  white;
  border-radius: 0px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  min-width:41vw;
}

@media only screen and (max-width: 1000px) {
  .cardList {
    min-width: 100vw;
  }
}

.cardListSmall {
  background-color: #27293d;
  color: white;
  border: 1px transparent;
  border-radius: 10px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
}

.cardListCategory {
  background-color: #27293d;
  color: white;
  border: 1px transparent;
  border-radius: 10px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  min-width:20vw;
}


.cardHead {
  color: white;
  margin-top: 20px;
}

.cardContainerHead {
  background-color: white;
}

.cardHolder {
  background-color: transparent;
  min-height: 50vh;
  border-top: thin solid white;
  
}

.categoriesOverview{
  
  border: 1px transparent;
  border-radius: 10px;
  margin-top:20px;
  
}

.incomeCategoriesContainer{
  
  max-height: 20vh;
  max-width: 60vw;
}
@media only screen and (max-width: 1000px) {
  .incomeCategoriesContainer {
    max-width: 100vw;
  }
}



.categorySubHeader{
  text-align: center;
}

.cardPercentage{
 
  text-align: end;
}



/* -------------------------------------------------------------------------- */
/*                                  scrollbar                                 */
/* -------------------------------------------------------------------------- */

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
  max-width: 50vw;
}
.menu-item-wrapper.active {
  /* border: 1px white solid; */
}
.menu-item.active {
  /* border: 1px green solid; */
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.scrollbar {
  min-width: 40vw;
  max-width: 50vw;
  background-color: transparent;
}
@media only screen and (max-width: 500px) {
  .scrollbar {
    max-width: 100vw;
  }
}


/* -------------------------------------------------------------------------- */
/*                                    modal                                   */
/* -------------------------------------------------------------------------- */

.modalBody{
  background-color: #27293d ;
}


/* -------------------------------------------------------------------------- */
/*                                  analytics                                 */
/* -------------------------------------------------------------------------- */
.splineChart{
  background-color: #27293d ;
  margin-bottom: 5px; 
  padding: 10px;
  max-width:100vw;
  max-height:450px;
  
}

.analyticsCard{
  background-color: #27293d ;
  margin-bottom: 5px; 
  padding: 10px;
  max-width:450px;
  max-height:400px;
  height: 300px;
}


@media only screen and (max-width: 500px) {
.analyticsCard{
  background-color: #27293d ;
  min-width: 80vw;
  
  
}
}


/* -------------------------------------------------------------------------- */
/*                                 about page                                 */
/* -------------------------------------------------------------------------- */

.aboutJumbotron{
  text-align: center;
  align-content: center;
  justify-content: center;
  height: 50vh;
  background-color: transparent ;
  color: white;
}

.dateRange{
  background-color: white;
  color: white;  
}

.headerIcon{
  text-align: center;

}

